@charset "UTF-8";

body{
    background-color: rgb(100, 160, 157);
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: bolder;
}
#principal{
    background-color: rgb(175, 216, 243);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.seletores{
    background-color: rgb(113, 154, 241);
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
div{
    display: inline-block;
    background-color: rgb(85, 51, 236);
    text-align: center;
    width: 200px;
    height: 200px;
    
}
div:hover{
    background-color: black;
}
div:hover > p{
    background-color: aqua;
    display: block;
}
div > p{
    display: none;
}
div::after{
    content: "JAqueline";
}





